.container {
  width: auto;
  max-height: 100vh;
  box-sizing: border-box;
  display: flex;

  .content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    .image {
      width: 100%;
      max-height: 100vh;
      object-fit: cover;
    }
  }
}