.container {
    width: 100%;
    background: linear-gradient(180deg, #060B16 0%, #1E1E1E 100%);

    .content-wrapper {
        width: 100%;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;

            h2 {
                margin: 64px;
            }
        }
        .gallery{
            margin-top: 64px;
        }
    }
}