.container {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 64px;
    // padding: 0px 240px;

    .images {
      margin: 32px 0px;
      display: flex;
      flex-wrap: wrap;
      max-width: 100%; 
      justify-content: center;

      .left-image {
        width: 60%;
      }

      .center-image,
      .right-image {
        width: 50%;

      }
    }

    .description {
      color: white;
      flex-grow: 1;
      text-align: center;
      font-weight: 500;
      
    }
  }

  @media (max-width: 1280px) {
    .content-wrapper {
      padding: 0px 14px;
    }
  }

  @media (max-width: 720px) {
    .content-wrapper {
      padding: 0px 14px;

      .images{

        .left-image {
            width: 100%;
            margin-bottom: 16px;
          }
    
          .center-image,
          .right-image {
            width: 100%;
            margin-bottom: 16px;
    
          }
      }
    }
  }
}
