.container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  padding: 6px;

  &.scrolled {
    background: rgba(0, 0, 0, 0.217);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(8px);
}

  img {
    margin-left: 50px;
    height: 42px;
  }

  button {
    display: inline-flex;
    align-items: center;
    height: 42px;
    margin-right: 50px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    background: #0C8CE9;
    color: white;
    font-size: 14px;
    letter-spacing: 0.56px;

    &:active  {
      background: #F78F14;
      color: white;
    }
  }
}