.container {
    display: flex;
    align-items: center;
    width: 100%;
    background: url('../../../../assets/images/ImgPatternBg.svg'), linear-gradient(180deg, rgba(87, 149, 241, 0.00)70.84%, rgba(0, 72, 180, 0.09) 100%), #F4F4F5;
    background-size: cover;
    background-position: center;
    min-height: 75vh;

    .content {
        display: flex;
        flex-grow: 1;
        padding: 50px;
        
        .text-wrapper {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                letter-spacing: 0.5px;
                line-height: 24px;
                font-size: 14px;

            }

            .btn-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-top: 12px;

                .btn-cv {
                    background: #F78F14;
                    color: white;

                    &:active {
                        background: #0C8CE9;
                        color: white;
                    }

                }

                .btn-figma {
                    background: linear-gradient(95deg, #FF7262 8%, #A259FF 39.13%, #1ABCFE 69.27%, #0ACF83 100%);
                    color: white;

                    &:active {
                        background: #F78F14;
                        color: white;
                    }

                }

                button {
                    display: inline-flex;
                    align-items: center;
                    margin-right: 12px;
                    padding: 12px;
                    border-radius: 6px;
                    border: none;
                    font-size: 14px;
                    letter-spacing: 0.56px;

                    img {
                        margin-right: 6px;
                        width: 20px;
                        height: 20px;
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }



                }

            }
        }

        @media (min-width: 720px) {

            .content, .text-wrapper{
                align-items: flex-start;
                max-width: 900px;
                margin-left: 32px;
            .text {
                font-size: 16px;
            }
        }
        }
    }
}