.container {
    width: 100%;
    height: 50vh;

    .content-wrapper {
        display: flex;
        margin-top: 64px;

        .content {
            display: flex;
            width: 50vw;
            padding-left: 32px;
            flex-direction: column;
            color: white;

            .heading {
                margin-bottom: 6px;
            }
        }

        .image {
            width: 50vw;
            transition: transform 0.3s ease-in-out;
        }
        .fixed {
            position: fixed;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            transition: transform 0.5s ease-in-out;
           }
           
    }
}
