.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  margin: 16px;
  width: 210px;
  height: 248px;
  padding: 24px 0px;
  background: #0000000c;
  box-shadow: 0px 4px 4px 0px #ffffff55;

  .iconContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;

    .cardIcon {
      height: 50px;
      margin: 12px;
    }
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .cardTitle {
      width: 200px;
      height: 48px;
      font-size: 20px;
      color: white;
      font-weight: 400;
      text-align: center;
    }

    .cardDescription {
      font-size: 16px;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .card {
    width: 164px;
    height: 220px;
    margin: 12px;

    .iconContainer {
      .cardIcon {
        height: 44px;
        margin: 6px;
      }
    }

    .cardContent {
      .cardTitle {
        width: 100%;
      }
    }
  }
}